<!DOCTYPE html>
<html>
<head>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
</style>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ STATIC_URL }}js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />

<!-- Metadata -->
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<META NAME="Description" CONTENT="I wish this was...mapped!">

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32373336-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
{% block header %}

{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
<footer id="footer">
        <a href="{% url about %}">About</a> | <a href="http://iwishthiswas.cc">I wish this was</a> | <a href="http://www.rhok.org/">RHOK</a>
</div>
</footer>
{% endblock %}
{% block scripts %}
{% endblock %}