<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	html { height: 100% }
	body { height: 100%; margin: 0; padding: 0 }
	#map_canvas { height: 100% }
</style>
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<META NAME="Description" CONTENT="I wish this was...mapped!">
</head>
<body onload="initialize()">
{% block header %}

{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
<footer class="footer">
	<div class="container">
        <p class="pull-right">
        	{% block report %}
        	{% endblock %}
        	<a href="#">Back to top</a>
        </p>
    </div>
</footer>
{% endblock %}
{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" type="text/javascript">
{% endblock %}