{% extends "base.html" %}
{% block title %}
Imagine Your City...
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<body onload="initialize()">
<div id="map_canvas"></div>
<div id="title_image"><img src="{{ STATIC_URL }}img/title.png" alt=""></div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBcEq2qfxCxc4mOSlc5lFhhOdouwkMu_c0&sensor=true">
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox").fancybox();
  });
</script>
<script type="text/javascript">
var map

function initialize() {
  var map
  var myOptions = {
    center: new google.maps.LatLng(-34.397, 150.644),
    zoom: 10,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    panControl: true,
    panControlOptions: {
        position: google.maps.ControlPosition.RIGHT_TOP
    },
    scaleControl: false,
    streetViewControl: true,
    streetViewControlOptions: {
        position: google.maps.ControlPosition.RIGHT_TOP
    },
    zoomControl: true,
    zoomControlOptions: {
        style: google.maps.ZoomControlStyle.LARGE,
        position: google.maps.ControlPosition.RIGHT_TOP
    }
  };
  map = new google.maps.Map(document.getElementById("map_canvas"),
      myOptions);

  var image = new google.maps.MarkerImage('static/img/icon.png',
              // This marker is 20 pixels wide by 32 pixels tall.
              new google.maps.Size(25, 16),
              // The origin for this image is 0,0.
              new google.maps.Point(0,0),
              // The anchor for this image is the base of the flagpole at 0,32.
              new google.maps.Point(12, 16));

  var infowindow = new google.maps.InfoWindow({
      maxWidth: 150
  });
  // Add markers
  {% for photo in photos_list %}
  var marker{{photo.id}} = new google.maps.Marker({
    position: new google.maps.LatLng({{ photo.latitude }}, {{ photo.longitude }}), 
    map: map,
    icon: image,
    title: '{{ photo.caption }}'
  });   

  var contentString{{ photo.id }} = '<a href="{{ photo.image }}" class="fancybox"><img src="{{photo.thumbnail}}"></a><p>{{ photo.caption }}</p>';

  // Listen for click for marker id {{ photo.id }}
  google.maps.event.addListener(marker{{ photo.id }}, 'click',function() {
      infowindow.open(map,marker{{ photo.id }});
      // Set content
      infowindow.setContent(contentString{{ photo.id }});
  });
  {% endfor %}
  // Try HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  }
}
</script>
{% endblock %}